.container-1,
.container-2,
.container-3,
.container-4,
.container-5 {
    border: 1px solid black;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.flex-box-container-1,
.flex-box-container-2,
.flex-box-rps,
.flex-box-pick-color,
.flex-blackjack-row-1,
.flex-blackjack-row-2,
.flex-blackjack-row-3 {
    display: flex;
    border: 1px solid black;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.flex-blackjack-row-1,
.flex-blackjack-row-2 {
    background-color: rgb(10, 83, 59);
    color: #ffffff;
}

.flex-box-rps img:hover {
    box-shadow: blue;
}

.btn-primary {
    color: red;
}

.flex-blackjack-row-1 div {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    height: 350px;
    flex: 1;
}

.flex-blackjack-row-1 img {
    width: 25%;
    padding: 10px;
}

.flex-blackjack-row-2 button {
    border: solid 1px black;
}

.flex-blackjack-row-2 div {
    border: solid 1px black;
    padding: 10px;
}

table,
th,
td {
    padding: 5px;
    border: 1px solid black;
}